# Exclude Dataset Folder
Radiography/

# Exclude large trained models
*.pth
!pneumonia_model.pth
!Deployment/model/pneumonia_model.pth
!DL-PNEUMONIa/pneumonia_model.pth

# Exclude virtual environments
dl_env/
backups/
.ipynb_checkpoints/
~$DLREPO.pptx

.vercel
